startup_commands toggle_custom_color

# Catppuccin Macchiato
# Material Dark Theme
background_color           #121212
text_highlight_color       #FFAB40
visual_mark_color         #7986CB
search_highlight_color     #FFAB40
link_highlight_color       #64B5F6
synctex_highlight_color    #81C784
highlight_color_a          #FFAB40
highlight_color_b          #81C784
highlight_color_c          #4DD0E1
highlight_color_d          #FF8A80
highlight_color_e          #B388FF
highlight_color_f          #FF5252
highlight_color_g          #FFD740
custom_background_color    #121212
custom_text_color         #FFFFFF
ui_text_color             #FFFFFF
ui_background_color       #212121
ui_selected_text_color     #FFFFFF
ui_selected_background_color #303030
